@import "../../styles/main.scss";

.wrapper {
  background: linear-gradient(
    to right,
    $white-plum-grey,
    $white-plum-grey 50%,
    $silk-grey 50%,
    $silk-grey
  );
  margin-bottom: 2rem;
}

.header_inner {
  max-width: $column-width;
  margin: 0 auto;
  background-color: $white-plum-grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;

  a {
    display: inline-block;
    text-decoration: none;
    transition: 0.35s ease;
    color: $dark-grey;

    &:hover {
      color: $brand-color;
      text-decoration: none;
    }
  }

  p {
    padding: 1rem;
    text-align: right;
    background: $indigo-grey;
    color: $white-grey;
    font-size: 12px;
  }
}
