---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$brand-color:      #58e2C3; // green
$accent-color:     #6499e3; // blue
$light-grey:       #e7e7e7;
$grey-color:       #979797;
$dark-grey:        #455a55;
$background-color: #fff;
$text-color:       $dark-grey;
$border:           1px solid $light-grey;
$spacing-unit:     30px;
$base-font-family: 'Avenir', "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   15px;
$base-font-weight: 400;
$small:            $base-font-size * 0.875;
$headings-font-weight: 900;

@import
  "breakpoints",
  "base",
  "classes",
  "header",
  "footer",
  "post",
  "yearbook"
;
