// main: ../main.scss

@mixin for-big-phones-up {
  @media (min-width: 400px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 650px) {
    @content;
  }
}
@mixin for-tablet-portait-only {
  @media (min-width: 650px) and (max-width: 899px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin for-tablet-landscape-only {
  @media (min-width: 900px) and (max-width: 1199px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-desktop-only {
  @media (min-width: 1200px) and (max-width: 1799px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}
