// Main: ../main.scss

.container {
  max-width: $column-width;
  margin: 0 auto;
  padding: 0 10px;

  @include for-tablet-landscape-up {
    padding: 0;
  }
}

.flexbox {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}

.double-gap {
  gap: 2rem;
}

.triple-gap {
  gap: 3rem;
}

.flex-third {
  flex: 1 1 100%;

  @include for-tablet-landscape-up {
    flex: 0 0 26%;
    max-width: 33%;
  }
}

.flex-rest {
  flex: 1 1 100%;
}

.margin-bottom {
  margin-bottom: 1rem;
}

.margin-bottom-double {
  margin-bottom: 2rem;
}

.small {
  font-size: 0.875rem;
}

.light-text {
  color: #777;
}

.monospaced {
  font-family: $mono-font-family;
  font-weight: $mono-font-weight;
}

.badge {
  background: $second-color;
  color: #fff;
  border-radius: 4px;
  padding: 4px 8px;
}
