---
layout: default
body_id: posts
permalink: /posts/
---

<div class="one-col-middle">

  {% for post in site.posts %}
    {% assign currentdate = post.date | date: "%Y" %}
    {% if currentdate != date %}
      {% unless forloop.first %}

          </ul>
        </section>
      {% endunless %}
        <section class="post-section">

              <h3 id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h3>

              <ul class="post-list">
      {% assign date = currentdate %}
    {% endif %}


      <li>
        <div class="post-date">
          <span>{{ post.date | date: "%b %-d, %Y" }}</span>
        </div>
        <div class="post-content">
          <h3><a href="{{ post.url }}">{{ post.title }}<i class="fas fa-arrow-right icon-right"></i></a></h3>
          <p>{{ post.description }}</p>
        </div>
      </li>
    
    {% if forloop.last %}

          </ul>
        </section>
    {% endif %}
  {% endfor %}

</div>
