---
layout: default
body_id: homepage
---

{% include linebox.html %}

<div class="container container-dropped white-bg">

  <section class="masthead">
    <p>Hello! <span class="wave">&#128075;</span> </p>
    <p>I'm Sam, a physics teacher in Cornwall.</p>
    <p><a href="/posts">I share things I'm working on</a>, which at the moment is mainly things to do with education in the UK. In particular I'm interested in the <a href="/posts/whatnext">big issues facing education</a>.</p>
    <p>Every week I also summarise a journal article in education research &mdash; you can find them piling up over at <a href="https://52papers.org/">52papers.org</a>.
    <p>Before teaching, I lived in Perth, Western Australia, and worked in web development and marketing. And before <em>that</em> I <a href="/posts/aboutsaberr/">cofounded a startup called Saberr</a>. Technically I'm an oceanographer by training, but haven't used those skills in practice. Yet. </p>
    <p>I'm interested in social justice, the environment, and politics. Surfing, skiing, and running. And Oxford commas, golf, and woodwork. Reading. And languages.</p>
    <p>I have too many hobbies.</p>
  </section>


  {% for post in site.posts %}
    {% assign currentdate = post.date | date: "%Y" %}
    {% if currentdate != date %}
      {% unless forloop.first %}
            </div>
          </div>
        </section>
      {% endunless %}
        <section class="post-section">
          <div class="post-list">
            <div class="date-column">
              <p id="y{{post.date | date: "%Y"}}">{{ currentdate }}</p>
            </div>
            <div class="post-column">
      {% assign date = currentdate %}
    {% endif %}
              <div class="post">
                <div class="post-date">
                  <p>{{ post.date | date: "%b %-d" }}</p>
                </div>
                <div class="post-title">
                  <p><a href="{{ post.url }}">{{ post.title }}</a></p>
                </div>
              </div>
    {% if forloop.last %}
            </div>
          </div>
        </section>
    {% endif %}
  {% endfor %}

  <section>
    <ul class="inline-list social-icons">
      <li><a href="https://twitter.com/samjamead"><i class="fab fa-twitter-square"></i></a></li>
      <li><a href="https://github.com/samjamead"><i class="fab fa-github-square"></i></a></li>
      <li><a href="https://linkedin.com/in/samjamead"><i class="fab fa-linkedin"></i></a></li>
    </ul>
  </section>

  <section class="pre-footer text-center">
    <p class="small">Thanks to <a href="https://codepen.io/333397406">Osorina Irina</a> and <a href="https://some.studio/">Piet Terheyden</a> for the CSS inspiration.</p>
  </section>

</div>
