---
layout: index
---

<a href="#hero" class="scroll_top smooth_scroll"><i class="fa fa-arrow-up fa-2x"></i></a>

<div class="hero" id="hero">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <h2><a href="#latest" class="smooth_scroll">Mead.fm</a></h1>
        <p class="lead">Namaste! This is a blog about startups, the environment, sport, Buddhism, and probably some other things.</p>
        <ul class="list-inline">
          <li>
            {% for post in site.posts limit:1 %}
              <a href="#latest" class="smooth_scroll">Latest Post</a>
            {% endfor %}
          </li>
          <li>•</li>
          <li><a href="/blog">Blog</a></li>
          <li>•</li>
          <li><a href="/about">About</a></li>
          <li>•</li>
          <li><a href="/portfolio">Portfolio</a></li>
        </ul>

      </div>
    </div>
  </div>
</div>

{% for post in site.posts limit:1 %}
  <div class="latest-post" id="latest" style="background: url('/img/{{ post.photo }}'); background-size: cover;">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-offset-2 col-md-8">
          <div class="holder">
            <h3>Latest Post</h3>
            <hr>
            <ul class="list-unstyled post-list">
              {% include tags-content.html %}
              <li>
                <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
                <ul class="list-inline post-meta">
                  <li>{{ post.author }}</li>
                  <li>&middot;</li>
                  <li>{{ post.date | date: "%b %-d, %Y" }}</li>
                  <li>&middot;</li>
                  <li>{{ tags_content }}</li>
                </ul>
                <p>
                  {{ post.description }}
                </p>
                <a class="btn btn-special" href="{{ post.url | prepend: site.baseurl }}">READ POST</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}

<div class="section" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <h3>About</h3>
        <hr />

        <p>I'm Sam, a front end web developer and all-round startup guy in Perth, WA.</p>

        <p>Outside of tech startups, I'm passionate about making the world a little bit more environmentally conscious, as well as surfing, skiing, and camping. And Oxford commas, golf, and woodwork. And languages. I have too many hobbies.</p>

        <p><a href="/about/">Read a bit more</a></p>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container text-center">
    <i class="fa fa-heart-o fa-2x"></i>
  </div>
</div>

<div class="section">
  <div class="container">

    <h3>Recent Posts</h3>

    <hr />
    <br />

    <ul class="list-unstyled post-list">
      {% for post in site.posts limit:5 %}
        <li>
          <div class="row">
            <div class="col-sm-2 text-right">
              {{ post.date | date: "%b %-d, %Y" }}
            </div>
            <div class="col-sm-1 text-center">
              &mdash;
            </div>
            <div class="col-sm-9">
              <p class="post-link"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></p>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>

  </div>
</div>
