---
permalink: /pgceyearbook/
layout: nofooter
title: Yearbook – The University of Exeter Science PGCE Class of 2020
body_id: yearbook
---


<section>
  <div class="container">
    <h1>The University of Exeter Science PGCE Class of 2020</h1>
    <div class="yearbook">
      {% for student in site.data.yearbook %}
        <div class="student">
          <div class="studentphoto" style="background: url('/img/pgceyearbook/{{ student.first | downcase | remove: " " }}{{ student.last | downcase | remove: " " }}.jpg'); background-size: cover; background-position: center left;">
            <!-- Image via bg img -->
          </div>
          <div class="studentmeta">
            <h2>{{ student.first }}</h2>
            {% if student.twitter %}
              <p><a href="https://twitter.com/{{student.twitter | remove: "@" }}">@{{student.twitter | remove: "@" }}</a></p>
            {% endif %}
            {% if student.quote %}
              <blockquote>{{student.quote}}</blockquote>
            {% endif %}
            {% if student.memory %}
              <h3>Best PGCE Memory</h3>
              <p>{{student.memory}}</p>
            {% endif %}
            {% if student.fail %}
            <h3>Biggest Teaching Fail</h3>
              <p>{{student.fail}}</p>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
