---
layout: skinny
title: Times Appin Was Right
excerpt: A comprehensive list of all the times Appin was right.
permalink: /timesappinwasright/
---

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} | Sam J A Mead</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link href='https://fonts.googleapis.com/css?family=Merriweather:700,900|Lora:400,400italic,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <script type="text/javascript">
    window.heap=window.heap||[],heap.load=function(t,e){window.heap.appid=t,window.heap.config=e;var a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=("https:"===document.location.protocol?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+t+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(t){return function(){heap.push([t].concat(Array.prototype.slice.call(arguments,0)))}},p=["clearEventProperties","identify","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
    heap.load("2790773813");
  </script>

</head>

<body style="background: #f1f1f1;">

  <div class="timesappinwasright clearfix" >
    <div class="heading text-center">
      <h1>Times Appin Was Right</h1>
      <p>An eternal record of the times that Appin was right and Sam was wrong. </p>
    </div>
    <ul class="list-unstyled">
      <li>
        <span class="date">
          30 November 2015 <sup>1</sup>
        </span>
        <br />
        That time we debated the effects of ice reducing brain damage in a cardiac arrest situation. (<a href="https://goo.gl/q6mUeI" target="_blank">https://goo.gl/q6mUeI</a>)</li>
    </ul>
    <hr />
    <ol class="small footnotes">
      <li>It should be noted that Appin has been known to be 'right' (frequently) prior to the start of this list; however this list has to start somewhere, and it just so happens to have started here. Therefore, this <em>doesn't</em> mean that this was the first time ever that Appin was right. Obviously.</li>
    </ol>
    <hr />

    <!-- Button trigger modal -->
    <p class="text-right"><a href="#" data-toggle="modal" data-target="#myModal">Times Appin was wrong</a></p>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <p>Don't be ridiculous!</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Sorry</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
