header {
  padding-top: 1rem;
  margin-bottom: 1rem;
}

.header-inner {
  padding: 1rem 0;

  a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    text-decoration: none;
    color: #000;
    font-size: 14px;
    transition: 0.35s ease;

    &:hover {
      color: $brand-color;
    }
  }

  img {
    max-width: 18px;
    fill: $brand-color;
  }
}
