* {
  box-sizing: border-box; }

body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure {
  margin-bottom: 15px; }

body {
  font: 300 15px/1.5 "Merriweather", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #111;
  background-color: #fdfdfd; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", "Merriweather", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 900; }

a {
  color: #3da0d5;
  text-decoration: none; }
  a:visited {
    color: #2376a2; }
  a:hover {
    color: #111;
    text-decoration: underline; }

img {
  max-width: 100%;
  vertical-align: middle; }

blockquote {
  font-style: italic; }
  blockquote p {
    font-style: normal;
    text-align: right; }

ol, ul {
  list-style: none; }

.small {
  font-size: 0.85em; }

.wrapper {
  width: 95%;
  margin: 0 2.5%; }

header {
  max-width: 100%;
  padding: 1rem;
  background: #3da0d5;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between; }

#navButton {
  cursor: pointer; }

.header-nav li, .header-nav li a {
  text-align: center;
  display: block;
  font-family: "Lato", "Merriweather", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.header-nav {
  position: fixed;
  bottom: -420px;
  left: 0;
  margin-bottom: 0;
  width: 100%;
  transition: 0.4s ease; }
  .header-nav li {
    background: rgba(0, 0, 0, 0.8);
    border-top: 1px solid #1f678d; }
    .header-nav li:last-child {
      padding-top: 30px;
      padding-bottom: 30px;
      font-style: italic; }
    .header-nav li a {
      padding-top: 30px;
      padding-bottom: 30px;
      color: #fff;
      font-weight: 900; }
      .header-nav li a:hover {
        background: #3da0d5;
        text-decoration: none; }

.menu-open {
  bottom: 0; }

.hero {
  padding: 1rem;
  background: #4ea9d9;
  color: #fff;
  text-align: center; }

p {
  font-size: 13.05px; }

h1 {
  font-size: 25.95px; }

@media (min-width: 400px) {
  p {
    font-size: 14.25px; } }
@media (min-width: 600px) {
  p {
    font-size: 15px; } }
