<div class="pre-footer">
  <div class="container">
    <a target="_blank" href="https://twitter.com/intent/tweet?hashtags=honu&amp;original_referer=https%3A%2F%2Fsamjamead.github.io%2Fweb%2Ftweet-button&amp;related=Sam%20J%20A%20Mead&amp;text=Check%20out&amp;tw_p=tweetbutton&amp;url=http%3A%2F%2Fsamjamead.github.io&amp;via=samjamead">Tweet</a>
  </div>
</div>
<footer class="site-footer">
  <div class="container text-center">
    <h2 class="footer-heading">{{ site.title }}</h2>
    <br />
    <p class="text">{{ site.description }}</p>
    <br />
    <ul class="list-inline">
      <li><a href="/">{{ site.title }}</a></li>
      <li>•</li>
      <li><a href="mailto:{{ site.email }}">Email</a></li>
      <li>•</li>
      <li><a href="https://github.com/{{ site.github_username }}">GitHub</a></li>
      <li>•</li>
      <li><a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a></li>
    </ul>
  </div>
</footer>
