<footer class="site-footer">
  <div class="section">
    <div class="container text-center">
      <hr />
      <br />
      <br />
      <h2 class="footer-heading">{{ site.title }}</h2>
      <br />
      <p class="text">{{ site.description }}</p>
      <br />
      <ul class="list-inline">
        <li><a href="/">{{ site.title }}</a></li>
        <li>•</li>
        <li><a href="mailto:{{ site.email }}">Email</a></li>
        <li>•</li>
        <li><a href="https://github.com/{{ site.github_username }}">GitHub</a></li>
        <li>•</li>
        <li><a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a></li>
      </ul>
      <br />
      <br />
    </div>
  </div>
</footer>
