<footer>
  <div class="one-col-middle">
    <div class="footer-inner">
      <a href="/"><img src="/assets/img/sjamLogo.svg" /></a>
      <p>Freelance web developer and copywriter in Jersey.</p>
      <ul class="inline-list social-icons">
        <li><a href="https://twitter.com/samjamead"><i class="fab fa-twitter-square"></i></a></li>
        <li><a href="https://github.com/samjamead"><i class="fab fa-github-square"></i></a></li>
        <li><a href="https://linkedin.com/in/samjamead"><i class="fab fa-linkedin"></i></a></li>
      </ul>

      <p class="last-word small">v.8.0 &mdash; Nov 2021</p>
    </div>
  </div>
</footer>
