<header class="site-header">

  <div class="navbar">

    <div class="brand">
      <a href="/"><img src="/assets/img/sjamLogo.svg" /></a>
    </div>

    <div class="menu-toggle">
      <button class="hamburger hamburger--spin" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>

    <nav class="nav-links">
      <a href="/web/">Web</a>
      <a href="/copywriting/">Copywriting</a>
      <a href="/tutor/">Tutoring</a>
    </nav>

  </div>
  <div class="fake-border"></div>
</header>
