<header class="site-header">

  <div class="container navbar-inner">

    <div class="brand">
      <a href="/">Samuel Mead</a><span><br class="phones-only" /> &mdash; Web developer, copywriter </span>
    </div>

    <button class="menu-toggle">
      <span class="hamburger-button-text">Contents</span>
      <div class="hamburger hamburger--spin" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </div>
    </button>

  </div>

  <div class="container nav-container">
    <div class="main-navigation">
      <div class="nav-preface">
        <p class="preface"><span>Preface</span>I'm a front-end developer with a background in marketing. My priority is making web pages load fast over dodgy 3G connections. I favour simplicity in development; not all projects need a JavaScript framework!
      </div>
      <nav class="nav-links">
        <ul>
          <li>
            <a href="/#portfolio">
              <div class="nav-link-text">
                Portfolio
              </div>
              <div class="nav-link-icon">
                <i class="fas fa-arrow-right"></i>
              </div>
            </a>
          </li>
          <li>
            <a href="/#sideprojects">
              <div class="nav-link-text">
                Side Projects
              </div>
              <div class="nav-link-icon">
                <i class="fas fa-arrow-right"></i>
              </div>
            </a>
          </li>
          <li>
            <a href="/#about">
              <div class="nav-link-text">
                About
              </div>
              <div class="nav-link-icon">
                <i class="fas fa-arrow-right"></i>
              </div>
            </a></li>
          <li>
            <a href="/#contact">
              <div class="nav-link-text">
                Get In Touch
              </div>
              <div class="nav-link-icon">
                <i class="fas fa-arrow-right"></i>
              </div>
            </a></li>
        </ul>
      </nav>

    </div>
  </div>


</header>
