<header class="site-header">

  <div class="navbar three-col">

    <div class="left-col">
      <div class="brand">
        <a href="/"><img src="/assets/img/sjamLogo.svg" /></a>
      </div>
      <div class="menu-toggle">
        <button class="hamburger hamburger--spin" type="button">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </div>
    </div>

    <nav class="middle-col">
      <ul class="nav-links">
        <li><a href="/web/">Web Development</a></li>
        <li><a href="/copywriting/">Copywriting</a></li>
        <li><a href="/tutor/">Tutoring</a></li>
      </ul>
    </nav>

    <div class="right-col">
      <a href="https://www.onepercentfortheplanet.org/" target="_blank"><img class="onepercent" src="/assets/img/onepercent.png" /></a>
    </div>







  </div>
  <div class="fake-border"></div>
</header>
