<p>Hello – I'm Sam, a freelance web developer and copywriter in Jersey.</p>
<p>I build websites and write copy for all kinds of clients. I work with JavaScript and CSS, and use a wide variety of front-end platforms, including Jamstack, Wordpress and Squarespace.</p>
<p class="big-link"><a href="#portfolio">Take a look at my portfolio</a> <i class="fas fa-arrow-right"></i></p>
<p  class="big-link"><a href="#about">Read more about me</a> <i class="fas fa-arrow-right"></i></p>
<p  class="big-link"><a href="#contact">Get in touch to start a project</a> <i class="fas fa-arrow-right"></i></p>
