

    <div class="main-portfolio">

      <ul class="portfolio-list">
        <li class="portfolio-title">
          <h2>The Work</h2>
        </li>
        {% for post in site.posts limit: 3 %}
          <li>
            <a href="{{ post.url }}" >
              <img src="/assets/img/projects/{{ post.img-feature }}" alt="post.title" />
              <h2>{{ post.title }}</h2>
            </a>
          </li>
        {% endfor %}
        <li class="portfolio-description">
          <p>If you want your website to be about more than struggling to close an annoying popup, you've come to the right place.<br /><strong>&mdash; &nbsp;Audiofix</strong> &nbsp;<span class="small">(happy customer)</span></p>
        </li>
        {% for post in site.posts offset: 3 %}
          <li>
            <a href="{{ post.url }}" >
              <img src="/assets/img/projects/{{ post.img-feature }}" alt="post.title" />
              <h2>{{ post.title }}</h2>
            </a>
          </li>
        {% endfor %}

      </ul>

    </div>
