// main: main.scss

.btn {
  padding: 8px 14px;
  text-decoration: none;
  color: #fff;
  background: $brand;
  &:hover {
    background: darken($brand, 15%);
  }
}
.btn-success {
  background: $success;
  &:hover {
    background: darken($success, 15%);
  }
}
.btn-error {
  background: $error;
  &:hover {
    background: darken($error, 15%);
  }
}
.btn-warning {
  background: $warning;
  &:hover {
    background: darken($warning, 15%);
  }
}
.text-center {
  text-align: center;
}
.helpText {
  color: $error;
  font-style: italic;
  margin: 0;
  font-size: 0.9rem;
}
@media screen and (max-width: 376px) {
  .btn {
    padding: 6px 8px;
    font-size: 0.7rem;
  }
}
