// main: main.scss

header {
  background: $brand;
  a {
    color: #000;
    text-decoration: none;
  }
  h1 {
    margin: 0;
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 768px) {
  header {
    h1 {
      padding: 1rem 0;
      font-size: 1.2rem;
      line-height: 1.8rem;
    }
  }
}
