// main: main.scss

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-start {
  justify-content: flex-start;
}
.space-between {
  justify-content: space-between;
}
.column {
  padding: 1rem;
}
.inputRow {
  .column:first-child {
    width: 100px;
    text-align: right;
  }
}
.wrapper {
  max-width: 750px;
  margin: 0 auto;
  padding: 0 15px;
}
#newResultView,
#newPlayerView {
  display: none;
}
@media screen and (max-width: 768px) {
  #selects {
    display: block;
    .columns {
      margin: 1rem 0;
    }
  }
}
