// main: main.scss

table {
  border-top: 1px solid $dark-grey;
  padding-top: 1rem;
  tr {
    line-height: 1.5rem;
  }
}
#rankingTable {
  th:nth-child(n+4),
  td:nth-child(n+4) {
    text-align: right;
  }
}
#resultsHistory {
  tr {
    line-height: 1.8rem;
    td:nth-child(3) {
      font-weight: 700;
    }
  }
}
@media screen and (max-width: 768px) {
  #rankingTable {
    th:nth-child(n+3):nth-child(-n+5),
    td:nth-child(n+3):nth-child(-n+5) {
      display: none;
    }
  }
  #resultsHistory {
    td:nth-child(2) {
      display: none;
    }
  }
}
@media screen and (min-width: 768px) {
  #resultsHistory {
    td:first-child {
      width: 135px;
    }
  }
}
