// =======================================
//  Categories SASS
// =======================================
.category-highlight {
  background: $third-color;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
}
.category-subheading {
  margin-top: 2em;
}
