.container {
  padding: 0 1rem;
  margin: 0 auto;
  max-width: 650px;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.masthead {
  img {
    @include for-tablet-landscape-up {
     margin-bottom: 30px; 
    }
  }
}
.intro {
  h1 {
    font-size: 1rem;
  }
}
.section-break {
  width: 20%;
  border: 0;
  border-bottom: 1.5px solid $dark-grey;
}
.post-list {
  @extend .flex;
  align-items: flex-start;
  font-size: 0.8rem;
  @include for-big-phones-up {
    font-size: 0.9rem;
  }
  h2 {
    margin-bottom: 1rem;
    flex: 0 0 100%;
  }
  .post-list-date {
    flex: 0 0 26%;
    text-align: right;
    @include for-tablet-landscape-up {
      flex-basis: 16%;
    }
  }
  .post-list-title {
    flex: 0 0 66%;
    @include for-tablet-landscape-up {
      flex-basis: 76%;
    }
  }
}
