// =======================================
//  Components! Global-ish
// =======================================
.post-section {
  border-bottom: 2px solid #000;
  &:last-child {
    border-bottom: 0;
  }
}
.post-list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  p {
    margin-bottom: 0;
  }
  .date-column {
    position: sticky;
    top: 2rem;
    flex: 0 0 10%;
    padding-bottom: 28px;
    @include for-tablet-landscape-up {
      padding-bottom: 0;
      flex: 0 0 12%;
    };
    p {
      transform: rotate(-90deg) translate(-100%, 0);
      transform-origin: top left;
      line-height: 1;
      display: inline-block;
      @include for-tablet-portrait-up{
        padding-right: 3px;
      };
      @include for-tablet-landscape-up {
        display: block;
        padding-right: 0;
        transform: rotate(0deg) translate(0);
        line-height: 1.7;
      };
    }
  }
  .post-column {
    flex: 1 1 85%;
  }
  .post {
    border-bottom: $border;
    padding: 1.5rem 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    @include for-tablet-portrait-up {
      flex-wrap: nowrap;
    };
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      border-bottom: 0;
      padding-bottom: 0;
    }
    .post-date {
      flex: 0 0 100%;
      @include for-tablet-portrait-up {
        flex: 0 0 15%;
      };
      &:first-child {
        p {
          line-height: 1;
          margin-bottom: 5px;
          @include for-tablet-portrait-up {
            line-height: 1.7;
            margin-bottom: 0;
          };
        }
      }
    }
    .post-title {
      @include for-tablet-portrait-up {
        flex-grow: 1;
      };
    }

  }
}
.social-icons {
  text-align: center;
  font-size: 3rem;
  margin: 0 auto;
  li {
    margin: 0 1rem;
  }
  a {
    color: $soft-grey;
    transition: 0.4s ease;
    &:hover {
      color: $brand-color;
    }
  }
}
// =======================================
//  Homepage
// =======================================
#homepage {
  .masthead {
    border-bottom: 2px solid #000;
    background: #fff;
    p:last-child {
      margin-bottom: 0;
    }
  }
  .wave {
    font-size: 1.7rem;
    line-height: 0.9;
    margin: 0 5px;
  }
}
