// =======================================
//  Footer
//  Mmmmmm... Sticky. Don't forget to
//  include scripts.js for dynamic sizing
// =======================================

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #f8f8f8;
  border-top: $border;
  text-align: center;
  @include for-tablet-portrait-up {
    text-align: left;
  };
  .footer-inner {
    margin: 0 auto;
    padding: 2rem;
    max-width: $column-width;
  }
}
