.container {
  padding: 0 2rem;
  margin: 0 auto;
  max-width: $column-width;
}
.container-dropped {
  // margin-top: 6rem;
}
.section-heading {
  margin-top: 1rem;
}
.inline-list {
  list-style-type: none;
  margin: 0;
  li {
    margin-right: 1.5em;
    padding-left: 0;
    &:last-child {
      margin-right: 0;
    }
    @include for-tablet-portrait-up {
      display: inline-block;
    };
  }
}
