// =======================================
//  Some classes are used globally, and
//  that's ok!
// =======================================
.background {
  background-color: $light-grey;
}
@media screen and (max-width: 768px) {
  .background {
    background: transparent;
  }
}
.btn {
  color: #fff;
  font-weight: $base-font-weight;
  background-color: $brand-color;
  border-color: $brand-color;
  transition: 0.4s ease;
  &:hover {
    color: #fff;
    background-color: $accent-color;
  }
}
.fancy-list {
  display: block;
  border: $border;
  margin-bottom: $spacing-unit;
  transition: 0.3s ease;
  &:hover {
    text-decoration: none;
    border-color: $brand-color;
  }
  .list-img {
    background-image: url('../img/placeholder.png');
    background-position: center;
    background-size: cover;
    height: 200px;
  }
  .list-meta {
    background: #fff;
    padding: $spacing-unit * 0.5;
    p {
      margin-bottom: 0;
      font-weight: 400;
    }
    span {
      font-size: 0.9rem;
      color: $grey-color;
    }
  }
}
.clearfix-3 {
  .clear:nth-child(3n+3)::before {
      content: '';
      display: table;
      clear: both;
    }
}
.margin-bottom {
  margin-bottom: 2rem;
}
