@font-face {
  font-family: "Sandman";
  src: url('/fonts/sandman.otf') format("opentype");
}
header {
  @extend .flex;
  max-width: 650px;
  margin: 0 auto;
  padding: 1.5rem 1rem 1rem; // Because logo font line height is odd...
  a {
    display: block;
    &:first-child {
      font-family: "Sandman", $base-font-family;
      font-size: 2.5rem;
      letter-spacing: 0.5px;
      color: #f552ed;
      transition: 0.4s ease;
      line-height: 0.75;
      &:hover {
        color: $brand-color;
        text-decoration: none;
      }
    }
  }
}
