.site-header {
  padding-top: 1rem;
}

.navbar-inner {
  @extend .flexbox;
  justify-content: space-between;

  @include for-tablet-landscape-up {
    align-items: center;
  };

  img {
    margin: 5px 0 0;
  }
}

nav {
  text-align: right;
  font-family: $monospace-font-family;

  ol {
    margin: 0;
    list-style-type: none;
    max-width: 100%;
  }

  li {
    margin: 0 0.5rem 0.5rem;

    @include for-tablet-landscape-up {
      display: inline-block;
      margin-bottom: 0;
      &:last-child {
        margin-right: 0;

        a {
          padding-right: 0;
        }
      }
    };

    a {
      padding: 5px 0.5rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  a {
    text-decoration: none;
  }
}
