.site-header {
  .navbar {
    border-bottom: $border;
    @include for-tablet-landscape-up {
      align-items: stretch;
    };
    .left-col, .middle-col, .right-col {
      @extend .flexbox;
      @include for-tablet-landscape-up {
        align-items: center;
      };
    }
    .left-col {
      @include for-tablet-landscape-up {
        justify-content: flex-end;
      };
      .brand {
        padding: 2rem;
        a {
          display: block;
        }
      }
      .menu-toggle {
        @include for-tablet-landscape-up {
          display: none;
        }
      }
    }
    .middle-col {
      border-left: $border;
      border-right: $border;
      ul, li {
        margin: 0;
        padding: 0;
      }
      .nav-links {
        @extend .flexbox;
      }
      @include for-tablet-landscape-up {
        align-items: flex-start;
        min-width: $column-width;
        li {
          display: inline-block;
          border-right: $border;
        }
        a {
          display: block;
          padding: 2rem 2rem calc(2rem - 4px);
          border-bottom: 4px solid transparent;
          color: $text-color;
          transition: 0.5s;
          &:hover {
            text-decoration: none;
            border-color: $brand-color;
            // background: linear-gradient(to top, #03375E, #03375E 5%, transparent 5%);
          }
        }
      };
    }
    .right-col {
      justify-content: flex-start;
      padding-left: 2rem;
      .onepercent {
        max-width: 50px;
      }
    }
  }
}


// Hamburger with thanks to Jonathon Suh
.hamburger {
  padding: 15px 0 10px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }
  .hamburger:focus {
    outline: none;
  }
  .hamburger.is-active:hover {
    opacity: 0.7; }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #000; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 3px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

// Spin
.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spin .hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
  .hamburger--spin .hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spin.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
  .hamburger--spin.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }
