// =======================================
//  Global helpers
// =======================================
.phones-only {
  @include for-tablet-portrait-up {
    display: none;
  };
}

.exclude-on-mobile {
  display: none;

  @include for-tablet-portrait-up {
    display: inline-block;
  };
}

.small {
  font-size: $small;
}

.monospace {
  font-family: $monospace-font-family;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.list-inline {
  list-style: none;
  li {
    display: inline-block;
    margin-right: 0.625rem;
  }
}

.list-unstyled {
  list-style: none;
}

.margin-bottom-2 {
  margin-bottom: 2rem;
}

.highlighted {
  padding: 3px 5px;
  background: $alt-lightest;
}
