// =======================================
//  Header SASS
// =======================================
#homepage {
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit * 2;
}
.colourbar {
  display: block;
  position: absolute;
  z-index: 2;
  top: 1rem;
  left: 10%;
  width: 80%;
  margin: 0px auto;
  height: 1rem;
  background-image:
    linear-gradient(
      to right,
      $brand-color,
      $brand-color 11%,
      $third-color 11%,
      $third-color 32%,
      $light-grey 32%,
      $light-grey 52%,
      $accent-color 52%,
      $accent-color 72%,
      $fourth-color 72%
    );
}
.jumbotron {
  display: flex;
  align-items: center;
  border: none;
  margin: 0;
  padding: 0;
  min-height: 600px;
  height: 100vh;
  div {
    width: 100%;
    margin-top: -100px;
  }
  img {
    max-width: 16%;
  }
  h1 {
    font-size: 2.2rem;
    margin: 2.5rem auto 1rem;
    font-weight: 900;
    max-width: 650px;
  }
  p {
    max-width: 550px;
    margin: 1rem auto 2.5rem;
    font-weight: 300;
  }
  ul {
    list-style-type: none;
    margin: 0;
    li {
      display: inline-block;
      a {
        padding: 0 1rem;
        font-size: 1.1rem;
      }
    }
  }
}
@media screen and (max-width: 992px) {
  .jumbotron {
    img {
      max-width: 25%;
    }
  }
}
@media screen and (max-width: 768px) {
  .jumbotron {
    padding-left: 15px;
    padding-right: 15px;
    div {
      margin-top: 0;
    }
    img {
      max-width: 60%;
    }
    h1 {
      font-size: 1.2rem;
      span {
        display: block;
        font-size: 1.3rem;
        margin-bottom: 1rem;
      }
    }
    p {
      font-size: 1.1rem;
      margin-bottom: 1rem;
    }
    ul {
      li {
        display: block;
        border-top: $border;
        a {
          display: block;
          padding-top: 8px;
          padding-bottom: 8px;
          background: $accent-color;
          color: #fff;
          &:hover {
            background-color: $third-color;
            text-decoration: none;
          }
        }
      }
    }
  }
}
