// =======================================
//  Post SASS
// =======================================


article {
  padding-top: 5.5rem;
  padding-bottom: 4rem;
  border-bottom: $border;
  margin-bottom: 2rem;
}

.breadcrumbs {
  p {
    display: inline-block;
    padding: 5px 10px;
    background: #fff;
    border: $border;
    border-radius: 5px;
    font-size: $mobile-font-size;
    margin-bottom: 0;
  }
}

.post-hero,
.post-outro {
  padding-top: 0;
  padding-bottom: 0;

  @include for-tablet-landscape-up {
    padding-bottom: 4rem;
  };
}

.post-lead {
  @extend .lead;
  margin: 2rem auto 4rem;
  text-align: center;
  overflow: hidden;

  @include for-tablet-portrait-up {
    margin-top: 3rem;
  };
}

.post-hero-img {
  position: relative;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: linear-gradient(to bottom, rgba(255,255,255,0.85), rgba(255, 255, 255, 0.85)), url('/assets/img/blur-bg3.jpeg');
  background-size: cover;
  border-radius: 6px;

  @include for-tablet-landscape-up {
    padding-top: 3rem;
    padding-bottom: 3rem;
  };

  img {
    margin: 0 auto;
    width: 90%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow:
      0.8px 1.4px 2.8px -3px rgba(0, 0, 0, 0.02),
      2px 3.3px 6.7px -3px rgba(0, 0, 0, 0.028),
      3.8px 6.3px 12.5px -3px rgba(0, 0, 0, 0.035),
      6.7px 11.2px 22.3px -3px rgba(0, 0, 0, 0.042),
      12.5px 20.9px 41.8px -3px rgba(0, 0, 0, 0.05),
      30px 50px 100px -3px rgba(0, 0, 0, 0.07)
    ;


    @include for-tablet-portrait-up {
      width: 75%;
    };
  }
}

.portfolio-feature {
  @extend .flexbox;

  .feature-text {
    margin-bottom: 2rem;

    p {
      margin: 0 auto 2rem;
      &:last-child {
        text-align: center;
      }
    }
  }
}

.post-detail-images {

  @include for-tablet-landscape-up {
    flex: 1 1 300px;
    margin-left: 3rem;
  };

  img {
    margin-top: 0;
    margin-bottom: 2rem;
  }
}

.big-button {
  flex: 1 1 34%;
  margin: 0;
  padding: 0;

  a {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-radius: 4px;
    border: $border;
    background: #fff;
    padding: 1rem;
    font-weight: 300;
    text-decoration: none;
    color: #000;
    max-width: 300px;

    &:hover {
      color: #000;
      border-color: $alt-lighter;

      .link-icon {
        padding-right: 0;
      }
    }
  }

  .link-text {
    line-height: 1.3;
  }

  .link-icon {
    line-height: 1;
    padding-right: 10px;
    transition: ease 0.8s;

    i {
      font-size: 1.5em;
      color: #e3e3e3;
    }
  }
}
