// =======================================
//  Post SASS
// =======================================
article {
  padding-bottom: 2rem;
  border-bottom: $border;
}
.post-header {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column-reverse;
  @include for-tablet-landscape-up {
    flex-direction: row;
  };
  .post-title {
    font-size: 1.25rem;
    line-height: 1.6;
    margin-bottom: 0;
  }
  .post-meta p {
    margin-bottom: 0;
    @include for-tablet-landscape-up {
      line-height: 2;
    };
  }
  .post-meta {
    flex: 0 0 100%;
    margin-bottom: 5px;
    @include for-tablet-landscape-up {
      flex: 0 0 20%;
      margin-bottom: 0;
      text-align: right;
    };
  }
}
.featured-image {
  margin-bottom: 2rem;
  .caption {
    padding-top: 1rem;
    font-size: 0.85rem;
    border-bottom: $border;
  }
}
.faux-border {
  height: 1px;
  border-bottom: $border;
  margin-bottom: 3rem;
}
.suggested-reading {
  display: flex;
  align-items: stretch;
  justify-content: center;
  border-bottom: $border;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  .read-next, .read-previous {
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex: 0 0 100%;
    text-align: center;
    @include for-tablet-portrait-up {
      flex: 0 0 50%;
      text-align: left;
    };
    p {
      margin-bottom: 0;
    }
  }
  .read-next {
    @include for-tablet-portrait-up {
      padding-left: 2rem;
    };
  }
  .read-previous {
    border-bottom: $border;
    @include for-tablet-portrait-up {
      border-bottom: 0;
      border-right: $border;
      padding-right: 2rem;
    };
  }
}
