/* ========================================================
      Blah, blah blah blah, blah blah blah.

      Now, let's party.
======================================================== */
html, body {
  height: 100%;
}
body {
  background-color: #163762;
  background: url('/img/mountain_star.jpg');
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
}
a.scroll_top {
  opacity: 0;
  position: fixed;
  left: 35px;
  bottom: 35px;
  z-index: 5;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 10px 12px;
  transition: 0.5s ease;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
.btn {
  transition: 0.3s ease;
}
.navbar-default {
  background-color: transparent;
  border-color: #fff;
  font-family: Montserrat, $base-font-family;
  font-weight: 300;
  .navbar-brand {
    padding-top: $navbar-padding;
    padding-bottom: $navbar-padding;
    text-transform: uppercase;
    font-weight: 700;
    font-size: $base-font-size * 1.75;
    color: #fff;
  }
  .navbar-nav {
    li {
      a {
        padding-top: $navbar-padding; // Not dry, but that's ok in this instance.
        padding-bottom: $navbar-padding;
        text-transform: uppercase;
        color: #fff;
        font-weight: 400;
      }
      a:hover,
      a.active {
        color: #fff;
        background-color: rgba(255,255,255,0.3);
      }
    }
  }
}
.navbar-fixed-top {
  position: absolute;
}
.container {
  max-width: 800px;
}
.hero {
  height: 100vh;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  font-family: Montserrat, $base-font-family;
  color: #fff;
  h1 {
    font-size: 5 * $base-font-size;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 25px;
    text-shadow: 0 1px 2px rgba(0,0,0,0.15);
  }
  .hero-subheading {
    margin-bottom: 35px;
    font-size: 1.5 * $base-font-size;
  }
  .img-circle {
    max-width: 100px;
    padding: 2px;
    background-color: #333;
    border: 2px solid #fff;
  }
  .btn-hero {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
  }
  .btn-hero:hover {
    background: rgba(0,150,255,0.5);
  }
}
.post-title {
  margin-top: 0px;
}
.latest-post {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f3f3f3;
  h4 {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  hr {
    border-color: #fff;
  }
  .btn {
    margin-top: 15px;
  }
}
.section {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #fff;
}
ul.post-list {
  li {
    margin-bottom: $spacing-unit * 1.5;
  }
}
.post-link {
  margin-bottom: $spacing-unit / 3;
}
ul.post-meta {
  li {
    margin-bottom: $spacing-unit / 3;
    font-size: $small-font-size;
    font-style: italic;
  }
}
.small {
  font-size: $small-font-size;
}
.capitalise {
  text-transform: capitalize;
}
