/* ========================================================
      Global Elements

      Alphabetic after html and body
======================================================== */
html, body {
  height: 100%;
}
body {
  background-color: $background-color;
  min-height: 100%;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $text-color;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
}
a {
  color: lighten($brand-color, 10%);
}
a:hover {
  color: $brand-color;
}
blockquote {
  margin-left: 1rem;
  margin-top: $base-line-height * 1.5;
  margin-bottom: $base-line-height * 1.5;
  font-style: italic;
}
a.scroll_top {
  opacity: 0;
  position: fixed;
  left: 35px;
  bottom: 35px;
  z-index: 5;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 10px 12px;
  transition: 0.5s ease;
}
p {
  margin-bottom: 1.8em;
}
img {
  max-width: 100%;
  vertical-align: middle;
  margin-bottom: $spacing-unit;
}
hr {
  border-color: $alt-color;
}
/* ========================================================
      Global Classes
======================================================== */
.btn {
  transition: 0.3s ease;
}
iframe {
  width: 100%;
}
.post {
  margin-top: 70px;
}
.post-title {
  margin-top: 0px;
}
.section {
  padding-top: 50px;
  padding-bottom: 50px;
}
ul.post-list {
  li {
    margin-bottom: $spacing-unit * 1.5;
  }
}
.post-link {
  margin-bottom: $spacing-unit / 3;
}
ul.post-meta {
  li {
    margin-bottom: $spacing-unit / 3;
    font-size: $small-font-size;
    font-style: italic;
  }
}
.small {
  font-size: $small-font-size;
}
.capitalise {
  text-transform: capitalize;
}
/* ========================================================
      Navbar
======================================================== */
.navbar-default {
  background-color: $dark;
  border-color: #fff;
  font-weight: 300;
  .navbar-brand {
    padding-top: $navbar-padding;
    padding-bottom: $navbar-padding;
    font-weight: 500;
    font-size: $base-font-size * 1.75;
    color: $alt-color;
  }
  .navbar-nav {
    li {
      a {
        padding-top: $navbar-padding; // Not dry, but that's ok in this instance.
        padding-bottom: $navbar-padding;
        color: #fff;
      }
      a:hover,
      a.active {
        color: #fff;
        background-color: rgba(255,255,255,0.3);
      }
    }
  }
}
.navbar-fixed-top {
  position: absolute;
}
/* ========================================================
      Homepage hero
======================================================== */
.hero {
  background: url('/img/hero7.jpg') bottom center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  animation: animatedBackground 100s linear 3s infinite alternate;
  color: #fff;
  .hero-subheading {
    margin-bottom: 35px;
    font-size: 1.5 * $base-font-size;
  }
  a {
    color: #fff;
  }
}
@keyframes animatedBackground {
	from { background-position: 0 100%; }
	to { background-position: 0 0; }
}
/* ========================================================
      Post lists
======================================================== */
.main-post-list {
  margin-left: 0;
  padding-left: 0;
  li {
    display: flex;
    align-items: center;
    width: 100%;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: $spacing-unit;
    .post-info {
      flex-grow: 2;
      padding: $spacing-unit;
    }
    .post-photo {
      max-width: 40%;
      img {
        object-fit: cover;
        margin: 0;
      }
    }
  }
}
/* ========================================================
      Homepage latest post highlight
======================================================== */
.latest-post {
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #23272B;
  display: flex;
  align-items: center;
  color: #F4F5F7;
  .holder {
    background: rgba(0,0,0,0.4);
    padding: $spacing-unit;
  }
  hr {
    border-color: #fff;
  }
  a {
    color: $alt-color;
  }
  .btn-special {
    margin-top: 15px;
    background: transparent;
    border: 1px solid $alt-color;
    color: $alt-color;
    padding: 8px 20px;
  }
  .btn-special:hover {
    background: $alt-color;
    color: #fff;
  }
}
/* ========================================================
      Specifics
======================================================== */
.captains-log-img {
  margin-top: 0.9em;
  margin-bottom: 1.8em;
}
/* ========================================================
      Footer
======================================================== */
.pre-footer {
  background-color: #f4f5f7;
  border-top: 1px solid #e1e1e1;
  padding-top: 30px;
  padding-bottom: 30px;
}
footer {
  background: #23272b;
  padding-top: 70px;
  padding-bottom: 70px;
  color: #f4f5f7;
  a {
    color: #558aca;
  }
  a:hover {
    color: #88BDFD;
  }
}
