// ------------
// THE DEFAULT FLEXBOX
// Columns on mobile, rows on desktop
// Desktop rows are space-between justified and flex-start aligned
// ------------
.flexbox {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  @include for-tablet-landscape-up {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  };
}
.three-col {
  @extend .flexbox;
  .left-col, .middle-col, .right-col {
    flex: 0 0 100%;
  }
  .left-col {
    @include for-tablet-landscape-up {
      flex: 1 1 15%;
    };
  }
  .middle-col {
    @include for-tablet-landscape-up {
      flex: 1 0 70%;
      max-width: $column-width;
    };
  }
  .right-col {
    @include for-tablet-landscape-up {
      flex: 1 1 15%;
    };
  }
}
.one-col-middle {
  max-width: $column-width;
  margin: 0px auto;
  padding: 0 2rem;
  border-left: $border;
  border-right: $border;
}
.counter {
  font-family: $monospace-font-family;
}
.masthead {
  padding: 5rem 0 3rem;
}
.lead {
  font-weight: $base-font-weight;
  font-size: 24px;
  max-width: 730px;
}
.section-header {
  @extend .lead;
}
.webhero {
  height: 450px;
  background: url('/assets/img/colour2.jpg') center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 120px;
    color: #fff;
  }
}
