// ------------
// Global styles
// ------------
.container {
  position: relative;
  max-width: $column-width;
  margin: 0 auto;
  padding: 0 1rem;
  @include for-desktop-up {
    padding: 0;
  };
}

.flexbox {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;

  @include for-tablet-landscape-up {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  };

  .flex-half {
    flex: 0 0 100%;

    @include for-tablet-landscape-up {
      flex: 1 1 34%;
      max-width: 50%;
    };
  }

  .flex-third {
    flex: 0 0 100%;

    @include for-tablet-landscape-up {
      flex: 1 1 26%;
      max-width: 33%;
    };
  }
}

.counter {
  font-family: $monospace-font-family;
}

.lead {
  font-size: 1.2em;
}

.big-lead {
  max-width: 42rem;
  font-size: 1.5rem;
  margin-bottom: 1em;
}

// ////////////////////////////////
// ================================
// Sections
// ================================
// ////////////////////////////////

.masthead {
  padding-bottom: 0;
}

.portfolio-list {
  @extend .flexbox;
  flex-wrap: wrap;
  list-style-type: none;
  max-width: 100%;
  margin: 0;
  padding: 0;
  gap: 1.5rem;

  .portfolio-title {
    background: $alt-color;
    background-size: cover;
    height: 200px;
    line-height: 200px;
  }

  .portfolio-description {
    line-height: 200px;

    p {
      line-height: 1.8;
      display: inline-block;
      vertical-align: middle;
      margin: 0;
    }
  }

  li {
    flex: 1 1 100%;
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;

    @include for-tablet-portrait-up {
      flex: 1 1 45%;
    };

    @include for-tablet-landscape-up {
      flex: 1 1 30%;
    };

    a {
      display: block;
      position: relative;
      border: 1px solid transparent;
      border-radius: 2px;

      &:hover {
        border-color: #000;

        h2 {
          background: rgba(0, 0, 0, 0.3);
        }
      }
    }

    img {
      margin: 0;
      width: 100%;
      height: 200px;
      object-fit: cover;
    }

    h2 {
      position: absolute;
      top: 0;
      width: 100%;
      font-size: 2.8125rem;
      line-height: 200px;
      text-align: center;
      margin: 0;
      color: #fff;
    }
  }
} // End .portfolio-list

.about-section {
  border-top: $border;
  background: #f3f2ef;
}
