/* ========================================================
      Times Appin Was Right
======================================================== */

$main-color: rgb(61, 70, 77);

.timesappinwasright {
  max-width: 650px;
  margin: 100px auto 200px auto;
  color: $main-color;
  font-family: 'Lora', Helvetica, Arial, sans-serif;
  h1 {
    font-family: 'Merriweather', 'Lora', Georgia, serif;
    color: darken($main-color, 5%);
    font-weight: 700;
  }
  p {
    overflow: hidden;
  }
  ul {
    padding-bottom: 80px;
  }
  hr {
    border-color: lighten($main-color, 50%);
  }
  .heading {
    margin-bottom: 80px;
  }
  .date {
    font-weight: bold;
  }
  .footnotes {
    padding-left: 20px;
    li {
      margin-left: 5px;
    }
  }
}
