// =======================================
//  Yearbook SASS
// =======================================
#yearbook {
  padding-top: 4rem;
  background: #f6f6f9;
  .container {
    max-width: 1300px;
  }
  blockquote {
    font-size: 1rem;
  }
  h1 {
    margin-bottom: 3rem;
  }
  .yearbook {
    margin-bottom: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  .student {
    background: #fff;
    box-shadow: rgba(13, 13, 18, 0.04) 0px 8px 24px 0px;
    margin-bottom: 30px;
    border-radius: 5px;
    flex: 0 0 100%;
    @include for-tablet-landscape-up {
      flex-basis: 31%;
    };
  }
  .studentphoto {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    height: 300px;
  }
  .studentmeta {
    padding: 15px;
  }
}
