.article-hero {
  padding: 2rem 0 4rem;

  h1 {
    color: $second-color;
  }

  .breadcrumb {
    display: inline-block;
    background-color: $second-background-color;
    color: $second-color;
    font-size: 13px;
    margin-bottom: 5rem;

    .divider {
      margin: 0 10px;
    }

    a {
      color: $second-color;
      text-decoration: none;

      &:hover {
        color: $brand-color;
      }
    }
  }

  .article-preview {
    color: $alt-text-color;
  }
}

.article-body {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3rem;
  padding: 3rem 0 5rem;
}

.article-aside {
  margin-top: 8px;
  padding-top: 5px;
  max-width: 200px;
  border-top: 3px solid $brand-color;
  font-size: 12px;
  font-style: italic;
}
