.post-filter-wrapper {
  padding: 2rem 0;
  margin-bottom: 2rem;

  .radio-wrapper {
    display: inline-block;
    padding-bottom: 1rem;
  }

  input[type="radio"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  label {
    display: inline-block;
    font-size: 14px;
    width: 100%;
    padding: 6px 18px;
    border: $border;
    transition: 0.4s ease;

    &:hover {
      cursor: pointer;
      border-color: $brand-color;
    }
  }

  input[type="radio"]:checked + label {
    border-color: $brand-color;
  }
}
