.list-item-wrapper {
  display: flex;
  border-left: 1px solid #000;
  margin-bottom: 0;
  padding-left: 1rem;
  padding-bottom: 3rem;
  width: 100%;
  max-width: 680px;

  &:last-child {
    padding-bottom: 0;
  }
}

.list-item-icon {
  position: relative;
  padding: 5px 5px;
  top: -2px;
  right: 31px;
  background: $background-color;
  width: 30px;
  height: 30px;
}

.list-item-inner {
  width: 100%;
}

.list-item-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  color: $alt-text-color;
}

.list-item-date,
.list-item-category {
  font-weight: 400;
  font-size: 14px;
}

.list-item-category {
  background: #000;
  color: #fff;
  border-radius: 4px;
  padding: 4px 8px;
}

.list-item-content {
  display: block;
  border: $border;
  border-color: #d0d7de;
  background: #fcfcfc;
  box-shadow: 0px 18px 24px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  padding: 1rem;

  p {
    margin-bottom: 0;
  }

  .post-title {
    color: #000;
    font-weight: 500;
  }
}

a.list-item-content {
  text-decoration: none;

  &:hover {
    border-color: #000;
  }
}
