.list-item-wrapper {
  display: flex;
  border-left: 1px solid #000;
  margin-bottom: 0;
  padding-left: 1rem;
  padding-top: 2rem;
  width: 100%;
  max-width: 650px;
}

.list-item-icon {
  position: relative;
  padding: 5px 5px;
  top: -2px;
  right: 31px;
  background: $background-color;
  width: 30px;
  height: 30px;
}

.list-item-inner {
  width: 100%;
}

.list-item-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  color: $alt-text-color;
}

.list-item-content {
  display: block;
  border: $border;
  border-color: #d0d7de;
  border-radius: 4px;
  padding: 1rem;

  p {
    margin-bottom: 0;
  }

  .post-title {
    color: #000;
    font-weight: 500;
  }
}

a.list-item-content {
  text-decoration: none;

  &:hover {
    border-color: #000;
  }
}
