---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Layout
$column-width:          980px; // Middle column width
$paragraph-width:       560px; // Max width of a paragraph at 15px to give 80 cpl.

// Typography
@import url('https://fonts.googleapis.com/css2?family=DM+Mono&family=Inter:wght@200;400;700&display=swap');
$base-font-size:        15px;
$base-font-family:      'Inter', -apple-system,Helvetica,Arial,sans-serif,apple color emoji;
$base-font-weight:      normal;
$headings-font-family:  $base-font-family;
$headings-font-weight:  $base-font-weight;
$monospace-font-family: 'DM Mono', 'Courier', monospace;
$small:                 $base-font-size * 0.8;
$text-color:            #4a4a4a;
$text-color-alt:        rgb(69, 102, 131); // Bluish

// Colours
$brand-color:           #03375E; // French navy
$accent-color:          $brand-color; // Not used
$light-grey:            #e7e7e7; // Borders, lines
$soft-grey:             #9da5b4; // Text on dark backgrounds
$dark-grey:             #24272d; // For dark backgrounds and text
$background-color:      #fff; // Guardian cream

// Other stuff
$border:                1px solid $light-grey;
$spacing-unit:          2rem;

@import
  "breakpoints",
  "base",
  "helpers",
  "style",
  "header",
  "footer",
  "post"
;
