---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Layout
$column-width:          1200px; // Middle column width
$paragraph-width:       38em; // Should give ~80 cpl.

// Typography
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Inter:wght@300;700&family=Libre+Baskerville&display=swap');
$base-font-size:        16px;
$base-font-family:      'Inter', -apple-system,Helvetica,Arial,sans-serif,apple color emoji;
$base-font-weight:      300;
$headings-font-family:  'Inter', $base-font-family;
$headings-font-weight:  700;
$monospace-font-family: 'Fira Code', 'Courier', monospace;
$small:                 $base-font-size * 0.875;
$text-color:            #24272d;
$text-color-alt:        rgb(69, 102, 131); // Bluish
$link-color:            #000;

// Colours
$brand-color:           #1b2133; // Black pearl

$brand-dark:            scale-color($brand-color, $lightness: -20%);
$brand-light:           scale-color($brand-color, $lightness: 20%);
$brand-lighter:         scale-color($brand-color, $lightness: 40%);
$brand-lightest:        scale-color($brand-color, $lightness: 80%);

$alt-color:             #1d465f; // Astronaut blue

$alt-dark:              #fff;
$alt-light:             scale-color($alt-color, $lightness: 20%);
$alt-lighter:           scale-color($alt-color, $lightness: 40%);
$alt-lightest:          scale-color($alt-color, $lightness: 60%);

$third-color:           #f7bebe; // Baby pink

$light-grey:            #e7e7e7; // Borders, lines
$soft-grey:             #9da5b4; // Text on dark backgrounds
$dark-grey:             $text-color; // Dark backgrounds
$background-color:      #fdfbfa; // Snow
$background-gradient:   #fffaf2; // Floral white

// Other stuff
$border:                1px solid $light-grey;
$spacing-unit:          2rem;

@import
  "breakpoints",
  "base",
  "helpers",
  "style",
  "header",
  "footer",
  "post"
;
