@import "../../../styles/main.scss";

.wrapper {
  border-radius: 2px;

  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1rem;

  margin-bottom: 2rem;
}

.date {
  font-family: $mono-font-family;
  font-weight: $mono-font-weight;
  font-size: 14px;
}
