<!DOCTYPE html>
<html>

  {% include head.html %}

  <body id={{ page.title }}>

    {% include header.html %}

    <div id="pageWrapper">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h1>Blog posts tagged <span class="category-highlight">{{page.title}}</span></h1>
            <ul class="list-inline category-subheading">
              <li>Choose a different category: </li>
              {% for category in site.categories %}
                <li><a href="/blog/category/{{ category | first }}">{{ category | first }}</a></li>
                {% unless forloop.last %}
                  <li>//</li>
                {% endunless %}
              {% endfor %}
            </ul>
            <hr />
          </div>
        </div>
        <div class="row clearfix-3">
          {% if site.categories[page.title] %}
            {% for post in site.categories[page.title] %}
              <div class="col-md-4">
                <a class="fancy-list" href="{{ post.url | prepend: site.github.url }}">
                  <div class="list-img"
                       {% if post.photo %}
                         style="background-image: url('/img/{{ post.photo }}');"
                       {% endif %}>
                  </div>
                  <div class="list-meta">
                    <p>
                      {{ post.title }}
                      <br />
                      <span>Posted on {{ post.date | date: "%b %-d, %Y" }}</span>
                    </p>
                  </div>
                </a>
              </div>
              <div class="clear"></div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>

  <script src="{{ site.github.url }}/scripts/jquery-2.2.4.min.js" ></script>
  <script src="{{ site.github.url }}/scripts/bootstrap.min.js"    ></script>
  <script src="{{ site.github.url }}/scripts/scripts.js"          ></script>

</html>
