<!DOCTYPE html>
<html>

  {% include head.html %}

  <body id={{ page.title }}>


    {% include header.html %}

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          {{ content }}
        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>

  <script src="{{ site.github.url }}/scripts/jquery-2.2.4.min.js" ></script>
  <script src="{{ site.github.url }}/scripts/bootstrap.min.js"    ></script>
  <script src="{{ site.github.url }}/scripts/scripts.js"          ></script>

</html>
