---
layout: default
---

<article>

  <div class="container">

    <nav class="breadcrumbs">
      <p><a href="/">Home</a> &nbsp;>&nbsp; {% if page.collection == "portfolio" %}<a href="/#portfolio">Portfolio highlights</a> {% elsif page.collection == "sideprojects" %}<a href="/#sideprojects">Side projects</a>{% endif %} &nbsp;>&nbsp; {{ page.title }}</p>
    </nav>

  </div>

  <section class="post-hero">
    <div class="container">

      <p class="post-lead">{{ page.project-lead }}</p>

      <div class="post-hero-img">
        <img src="/assets/img/projects/{{ page.img-website }}" alt="{{ post.title }}" />
      </div>

    </div>
  </section>

  <section class="post-section">
    <div class="container">
      <div class="portfolio-feature">
        <div class="feature-text flex-half">
          <p>{{ page.project-intro }}</p>

          {% if page.project-stack %}
            <p>{{ page.project-stack }}</p>
          {% endif %}

          {% if page.project-quote %}
          <figure class="quote">
            <blockquote>
              {{ page.project-quote }}
            </blockquote>
            <figcaption>
              &mdash; {{ page.project-quoter }}
            </figcaption>
          </figure>
          {% endif %}

          <p><a href="{{ page.project-link }}" target="_blank">{{ page.title }} website</a> &#8594;</p>

        </div>

        <div class="flex-half post-detail-images">
          <img src="/assets/img/projects/{{ page.img-detail[0] }}" alt="{{ post.title }} detail image" />
          {% if page.img-detail[1] %}
            <img src="/assets/img/projects/{{ page.img-detail[1] }}" alt="{{ post.title }} detail image" />
          {% endif %}
        </div>

      </div>

    </div>
  </section>

  <section class="post-outro">
    <div class="container">

      <div class="post-hero-img">
        <img src="/assets/img/projects/{{ page.img-feature }}" alt="{{ post.title }}" />
      </div>

    </div>
  </section>

</article>

<section class="portfolio-section">
  <div class="container">

    {% include portfolio-list.html %}

  </div>
</section>
