@font-face { font-family: Goudy Old Style; src: url(./fonts/goudyOldStyle.ttf); }
@font-face { font-family: Goudy Old Style Bold; src: url(./fonts/goudyOldStyleBold.ttf); }
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure { margin: 0; padding: 0; }

* { box-sizing: border-box; }

body { font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

img { max-width: 100%; }

section { padding: 45px 0 0; }

h1, p { max-width: 670px; }

h1 { font-size: 24px; font-weight: 600; line-height: 1.4; }

p { font-size: 18px; line-height: 1.6; padding-bottom: 15px; }

a { text-decoration: none; font-weight: bold; color: #27ade7; }

.site-header { background: white; width: 100%; }
.site-header .container { display: flex; justify-content: space-between; align-items: center; padding: 20px 0; border-bottom: 2px solid #a1daf8; }
.site-header a { text-decoration: none; color: #27ADE7; }
.site-header .brand { margin-right: 45px; }
.site-header .brand h2 { font-size: 2em; font-weight: 300; letter-spacing: 2px; }
.site-header .brand h3 { font-weight: 300; color: #777; }
.site-header nav a { font-size: 18px; font-weight: 600; margin-left: 15px; }
@media (min-width: 650px) { .site-header { position: fixed; } }

.site-footer { border-top: 1px solid #a1daf8; margin-top: 100px; background: #f8f8f8; padding: 50px 0; text-align: center; }
.site-footer p { max-width: 100%; }

.container { max-width: 980px; margin: 0px auto; }

@media (min-width: 650px) { .page-content { padding-top: 103px; } }

.hero { background: url("./images/alan_1_blue_wide.jpg") no-repeat right bottom, linear-gradient(#A1DAF8, #A1DAF8); background-size: 110%; min-height: 480px; display: flex; align-items: center; }
.hero .opening-speechmarks { max-width: 50px; display: block; margin-left: -50px; }
.hero .hero-copy { display: block; flex: 0 0 48%; }
.hero .hero-copy blockquote { background: #fff; color: #222; padding: 20px 0 20px 20px; font-size: 24px; font-weight: 300; line-height: 1.4; font-style: italic; }

#about { padding-top: 60px; }
#about h1 { padding-bottom: 1em; }

.section-heading { background: #a1daf8; color: #fff; padding: 30px 15px; text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3); margin-bottom: 1em; }

.deck { display: flex; justify-content: space-between; flex-wrap: wrap; margin-top: 30px; }

.card { flex: 0 0 48%; display: flex; flex-direction: column; justify-content: flex-start; align-items: stretch; background: #333; padding: 20px; margin-bottom: 20px; color: #fff; }
.card .card_heading { flex: 0; }
.card .card_heading h2 { font-size: 20px; padding-bottom: 5px; }
.card .card_heading h3 { font-size: 16px; color: #a1daf8; padding-bottom: 10px; }
.card .card_copy { flex: 1; }
.card .card_copy p { font-size: 15px; }
.card .card_link { flex: 0; margin: 0 0 0 auto; padding: 8px 14px; background: #27ade7; color: #fff; }

.quote_card { display: flex; justify-content: center; background: #f8f8f8; color: #333; font-size: 1.2rem; font-style: italic; }
.quote_card .opening-speechmarks { max-width: 45px; margin: 0 10px 10px 0; }
.quote_card p { margin-top: 10px; text-align: right; font-weight: bold; font-style: normal; }
